/* Main CSS file */

/* @import '_example/_example.css'; */

h1 {
  font-family: helvetica;
  font-size: 21px;
  font-weight: 200;
}

.loading {
  pointer-events: none;
  opacity: 0.75;
}

.load-or-refresh {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

#breadcrumbs {
  color: #ffffff;
  cursor: pointer;
}

#headerLogo {
  height: 135px;
  width: 135px;
  margin-top: -10px;
  margin-bottom: -40px;
  margin-left: -35px;
  margin-right: -45px;
  cursor: pointer;
}

#add_db_menu {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#menuButton {
  margin-left: 10px;
  margin-bottom: 15px;
}
